@media screen and (orientation: landscape) {
    #left {
        width: 100px;
        height: 100%;
        overflow-y: auto;
        /* border-right: 1px solid black; */
        /* min-width: 100px; */
        /* max-width: 250px; */
        /* vertical-align: top; */
        display: inline-block;
    }

    #left p {
        width: fit-content;
        max-width: max-content;
        display: block;
        position: relative;
    }

    #right {
        position: absolute;
        /* left: var(--left-width); */
        width: calc(100vw - 130px);
        height: calc(100vh - 120px);
        vertical-align: top;
    }

    #right iframe {
        width: 100%;
        height: 100%;
        border: 1px solid;
    }
}


@media screen and (orientation: portrait) {
    #left {
        width: 100%;
        height: 100px;
        overflow-y: scroll;
        display: inline-block;
    }

    #left p {
        width: fit-content;
        max-width: max-content;
        display: block;
        position: relative;
    }

    #right {
        position: absolute;
        left: 0;
        top: 200px;
        width: 100%;
        height: calc(100vh - 200px);
        vertical-align: top;
    }

    #right iframe {
        width: 100%;
        height: 100%;
        border: 1px solid;
    }
}

a {
    color: midnightblue;
    text-decoration: dashed;
}

a:hover {
    color: midnightblue;
    text-decoration: underline;
}

a:active,
a:visited {
    color: midnightblue;
    text-decoration: dashed;
}