name: GitHub Pages

on:
  push:
    branches:
      - main # default branch
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      id-token: write

    steps:
      - uses: actions/checkout@v6
        # with:
        # token: ${{ secrets.GITHUB_TOKEN }}
        # If your repository depends on submodule, please see: https://github.com/actions/checkout
        # submodules: recursive

      - name: Use mise
        uses: jdx/mise-action@v3

      - name: Cache NPM dependencies
        uses: actions/cache@v4
        with:
          path: node_modules
          key: ${{ runner.OS }}-npm-cache
          restore-keys: |
            ${{ runner.OS }}-npm-cache

      # Caching public
      - name: cache public
        id: cache-public
        uses: actions/cache@v4
        with:
          path: |
            public
            db.json
          key: ${{ runner.os }}-public-${{ hashFiles('**/db.json') }}
          restore-keys: |
            ${{ runner.os }}-public-

      - name: Install Dependencies
        run: npm install

      - name: Hexo Clean Cache
        run: npm run clean

      - name: Build
        run: npm run build

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./public

      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: cos-file
          path: ./public

  deploy:
    needs: build

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

  sendCOS:
    needs: build

    runs-on: ubuntu-latest

    environment: COS

    steps:
      - name: Download the only Artifact
        uses: actions/download-artifact@v5
        with:
          name: cos-file
          path: ./public

      - name: Upload to COS
        uses: sylingd/tencent-cos-and-cdn-action@v1
        with:
          secret_id: ${{ secrets.TCLOUD_ID }}
          secret_key: ${{ secrets.TCLOUD_KEY }}
          cos_bucket: ${{ secrets.TCLOUD_BUCKET }}
          cos_region: ${{ secrets.TCLOUD_REGION }}
          cos_replace_file: crc64ecma
          cdn_prefix: ${{ vars.TCLOUD_CDN_PREFIX }}
          local_path: public
          remote_path: ""
          clean: true
